.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.ModalWrapper {
  min-height: 500px;
  max-width: 700px;
  background: rgb(22, 22, 22);
  background-color: var(--modal-background);

  border-radius: 15px;
  position: relative;
}

.CloseButton {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}
.ModalCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.ModalCoverOverlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:
    linear-gradient(15deg, rgb(22, 22, 22) 14.16%, rgba(6, 10, 23, 0) 26.61%),
    linear-gradient(0deg, rgb(22, 22, 22) 3.91%, rgba(6, 10, 23, 0) 69.26%);
}
.ModalCover img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 4px;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--text-color);
  padding: 1rem 2.5rem 2.5rem;
}
