.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.ModalWrapper {
  display: flex;
  height: 270px;
  width: 643px;
  background: rgb(22, 22, 22);
  background-color: var(--modal-background);
  border: 1px solid #1d1d1d;
  border-radius: 5px;
  position: relative;
  padding: 12px;
}
.CloseIcon {
  position: absolute;
  z-index: 3;
  right: 0.5rem;
}

.CloseIcon:hover {
  cursor: pointer;
}

.CloseButton {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}
.ModalCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.ModalCover img {
  width: 163px;
  height: 245px;
  object-fit: cover;
  border-radius: 4px;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  color: var(--text-color);
  padding: 1rem 1rem 0 1rem;
  width: 100%;
}

.TitleWrapper {
  width: 100%;
}
.Title {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0px;
  color: var(--text-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 75%;
}
.Price {
  font-size: 24px;
  font-weight: bold;
}
.BtnWrapper {
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
}
