.Card {
  max-width: 207px;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.4rem;
  background: #fff;
  border-radius: 4px;
  border: 2px solid #1d1d1d;
}

.Card img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.Title {
  text-align: center;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 0px;
  color: #1d1d1d;
  opacity: 1;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ComicDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
}

.Price {
  text-align: center;
  color: #1d1d1d;
  font-size: 19px;
  opacity: 1;
  margin-bottom: 9px;
}

.Button {
  width: 139px;
  height: 34px;
  background: #dd2c2c;
  border-radius: 5px;
  opacity: 1;
}
