.PageWrapper {
  background-color: #000;
  padding: 0;
  width: 100%;
  min-height: calc(100vh - 98px);
  position: relative;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  padding: 1.5rem 3rem;
  min-height: 40vh;
}
.LoadingWrapper {
  /* COMMENT OUT FOR CUSTOM INFINITE SCROLL */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.LoadingText {
  color: #fff;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.LoadMoreWrapper {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.LoadMoreBtn {
  width: 150px;
  height: 30px;
  border-radius: 7px;
  background-color: red;
  color: #fff;
}

.LoadMoreBtn:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
