.Header {
  display: flex;
  padding: 1rem;
  padding: 20px 15.6rem;
  background-color: var(--header-background);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
}
.Logo {
  width: 84px;
  height: 72px;
}

.ButtonsWrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: start;
  gap: 81px;
  margin-left: 60px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  font-size: 1.1rem;
}

.Active {
  color: #dd2c2c;
}

.Hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.ThemeToggle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.Burger {
  display: none;
  font-size: 2rem;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

@media (max-width: 1300px) {
  .Header {
    padding: 1.6rem 8.5rem 0;
  }
  .ButtonsWrapper {
    gap: 64px;
  }
}

@media (max-width: 1090px) {
  .Header {
    padding: 1.6rem 5rem 0;
  }
}
@media (max-width: 970px) {
  .Header {
    padding: 1.6rem 1rem 0;
  }
  .ButtonsWrapper {
    gap: 64px;
  }
}
@media (max-width: 768px) {
  .Header {
    padding: 20px;
    flex-wrap: wrap;
  }

  .Logo {
    width: 64px;
    height: 56px;
  }

  .Burger {
    display: block;
  }

  .ButtonsWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-left: 0;
    width: 100%;
    display: none;
    margin-top: 1rem;
  }

  .ButtonsWrapper.Open {
    display: flex;
  }

  .ThemeToggle {
    position: static;
    transform: none;
    align-self: flex-end;
  }
}
