* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
html,
body,
#root {
  height: 100%;
  background-color: var(--main-background);
}

body[data-theme="dark"] {
  --main-background: #1d1d1d;
  --text-color: #fff;
  --breadcrumbs-text-color: #fff;
  --modal-background: rgb(22, 22, 22);
  --header-background: rgba(51, 51, 51, 0.8);
}

body[data-theme="light"] {
  --main-background: #fff;
  --text-color: #000;
  --breadcrumbs-text-color: #828282;
  --modal-background: #fff;
  --header-background: #000;
}
